
<div class="row">
  <div class="col-md-offset-4 col-md-10 col-xs-12">
    <form action="/addAuthor" method="post">
      <h1>Add an Author</h1>

      <label for="first_name">First Name</label>
      <div class="form-group">
        <input id="first_name" type="text" name="first_name">
      </div>

      <label for="last_name">Last Name</label>
      <div class="form-group">
        <input id="last_name" type="text" name="last_name">
      </div>

      <label for="biography">Biography</label>
      <div class="form-group">
        <textarea id= "biography" name="biography" rows="8" cols="40"></textarea>
      </div>

      <label for="portrait_url">Portrait URL</label>
      <div class="form-group">
        <input id="portrait_url" type="text" name="portrait_url">
      </div>

      <button class="add-book-button" type="submit">Add Author</button>
    </form>
  </div>
</div>
