
<div class="row">
  <div class="col-md-offset-4 col-md-10 col-xs-12">
    <form action="/add" method="post">
      <h1>Add a Book</h1>

      <label for="book_title">Title</label>
      <div class="form-group">
        <input id="book_title" type="text" name="title">
      </div>

      <label for="book_genre">Genre</label>

      <div class="form-group">
        <input id="book_genre" type="text" name="genre">
      </div>

      <label for="cover_url">Cover Image URL</label>
      <div class="form-group">
        <input id="cover_url" type="text" name="cover_url">
      </div>

      <label for="book_description">Description</label>
      <div class="form-group">
        <textarea id= "book_description" name="description" rows="8" cols="40"></textarea>
      </div>
      <button class="add-book-button" type="submit">Add Book</button>
    </form>
  </div>
</div>
