<div class="row">
  <div class="col-md-offset-1 col-md-5 col-xs-12">
    <a class="btn btn-primary btn-lg huge-button" href="/books">  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Books</a>
  </div>
  <div class="col-md-6 col-xs-12">
    <a class="btn btn-primary btn-lg huge-button" href="/authors"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Authors</a>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-4 col-md-10 col-xs-12">
    <form action="/addBook" method="post">
      <h1>Add a Book</h1>

      <label for="book_title">Title</label>
      <div class="form-group">
        <input id="book_title" type="text" name="title">
      </div>

      <label for="book_genre">Genre</label>

      <div class="form-group">
        <input id="book_genre" type="text" name="genre">
      </div>

      <label for="cover_url">Cover Image URL</label>
      <div class="form-group">
        <input id="cover_url" type="text" name="cover_url">
      </div>

      <label for="book_description">Description</label>
      <div class="form-group">
        <textarea id= "book_description" name="description" rows="8" cols="40"></textarea>
      </div>
      <button class="btn btn-primary add-book" type="submit">Add Book</button>
    </form>
  </div>
</div>
