{{#each books}}
<div class="row">
  <div class="col-md-offset-2" "col-md-6" "book-display">
    <img src="{{this.cover_url}}" alt="cover_url"/>
    <div class="col-md-4">
      <h3>{{this.title}}</h3>
      <p>{{this.genre}}</p>
      <h5>{{this.description}}</h5>
    </div>
  </div>
</div>
{{/each}}
