/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.logoimg {
  max-height: 6rem;
  max-width: 6rem;
  margin: 1rem;

}
.page-header{
  display: flex;
  justify-content: flex-start;
  /*background-color: hsl(194, 5%, 70%)*/
}


.book-cover {
  width: 20rem;
  height: 25rem;
  margin: 1rem;
}

input {
  width: 40rem;
  height: 3rem;
}

.author-row{
  height: 40rem;
}

.author-url {
  width: 12vw;

}

.add-book-button {
  width: 50rem;
  height: 4rem;
  /*margin: 2rem;
  padding: 4rem;
  font-size: 2rem;*/
}

textarea {
  width: 40rem;
}
