/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.logoimg {
  max-height: 6rem;
  max-width: 6rem;
  margin: 1rem;

}
.page-header{
  display: flex;
  justify-content: flex-start;
  /*background-color: hsl(194, 5%, 70%)*/
}

.book-display {
  margin: 10rem;
}

.book-cover {
  width: 20rem;
  height: 25rem;
  margin: 1rem;
}
