.logoimg {
  max-height: 6rem;
  max-width: 6rem;
  margin: 1rem;

}
.page-header{
  display: flex;
  justify-content: flex-start;
  width:100vw;
}

.book-cover {
  width: 20rem;
  height: 25rem;
  margin: 1rem;
}

input {
  width: 40rem;
  height: 3rem;
}

.author-row{
  height: 40rem;
}

.author-url {
  width: 12vw;

}

.add-book-button {
  width: 50rem;
  height: 4rem;
  margin: 2rem;
  font-size: 2rem;
}
.add-book{
  width:36rem;
  height: 4rem;
  margin: 2rem;
  font-size: 2rem;
}

textarea {
  width: 40rem;
}

.huge-button {
  width: 50rem;
  height: 6rem;
  margin: 3rem;
}

.glyphicon-book{
  padding: 1rem;
}

.glyphicon-user {
  padding: 1rem;
}

.glyphicon-pencil{
  margin-right: .5rem;
}

.glyphicon-remove{
  margin-right: .5rem;
}

.generic-book-img {
  height: 20rem;
  margin-left:10rem;
}

.generic-author-img {
  height: 20rem;
  margin-left:20rem;
}
